<div class="container mt-5">
  <h1 class="text-center mb-4">Administrador de tareas</h1>

  <div class="d-flex justify-content-end mb-3">
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#taskModal"
      (click)="save()"
    >
      + Añadir tarea
    </button>
  </div>

  <div class="card">
    <div class="card-header">
      <h5 class="mb-0">Lista de tareas</h5>
    </div>
    <ul class="list-group list-group-flush" id="taskList">
      <li
        class="list-group-item d-flex justify-content-between align-items-center"
        *ngFor="let task of tasks"
      >
        <div>
          <h6 class="mb-0">{{ task.title }}</h6>
          <small class="text-muted"
            >Fecha de vencimiento: {{ task.date | date }}</small
          >
        </div>
        <div>
          <button
            class="btn btn-sm btn-warning me-2"
            (click)="editTask(task.id)"
            data-bs-toggle="modal"
            data-bs-target="#taskModal"
          >
            Editar
          </button>
          <button class="btn btn-sm btn-danger" (click)="deleteTask(task.id)">
            Eliminar
          </button>
        </div>
      </li>
    </ul>
  </div>
</div>

<app-modal
  id="modal"
  #modal
  (modalClosed)="onModalClose()"
  [idTask]="idEdit"
  [taskEdit]="taskEdit"
/>
